.container-fluid{
    background-color:#FBF1EF;
    
}
.blog-post{
    color:#FF7F40;
    font-size: 18px;
}
.technology{
    font-size: 40px;
}
.blog-name{
    color:#52525D;
    font-size: 18px;
}
.back-to-block{
background: transparent;
border-radius: 25px;
padding: 15px 25px;
color:  #FF7F40;
border-color:  #FF7F40;
}
body{
    font-family:'Poppins';
}
p,h1,h2,h3,h4,h5,h6{
    font-family:  'Poppins';
}