* {
    padding: 0;
    margin: 0;
}


/* navigation-bar */

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding: 35px;
    font-family: poppins;
}

.button-div button {
    border-radius: 30px;
    border: 1px solid hsl(20, 100%, 63%);
    color: #FF7F40;
    /* font-family: poppins; */
    font-family: poppins;
    font-weight: 600;
}

.ham-div {
    display: none;
}

.header-one {
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    background-image: url(./images/image/Ellipse\ 1.png);
    background-repeat: no-repeat, repeat;
    /* background-size: cover; */
    margin-left: 30px;
    color: #000000;
}

.paragraph-one p {
    margin-left: 30px;
    margin-top: 20px;
    font-family: poppins;
    /* font-weight: 400; */
    line-height: 29px;
    font-size: 18px;
    color: #000000;
}

.btn-one {
    /* position: absolute;
    left: 27px; */
    border-radius: 30px;
    /* padding: 13px; */
    /* width: 217px; */
    color: white;
    background: #FF7F40;
    height: 3rem;
    width: 11rem;
    font-family: Poppins;
    margin-top: 2rem;
}

.header-text-div {
    margin-right: 8rem;
    margin-top: 17px;
}

.header-name {
    margin-left: 11px;
    margin-top: 6px;
}

.heading-one-h6 {
    color: #FF7F40;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.heading-one-h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.heading-two-h4 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    text-transform: capitalize;
    color: #000000;
}

.paragraph-two {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.btn-two {
    background: #FFFFFF;
    border: 1px solid #FF7F40;
    box-sizing: border-box;
    border-radius: 110px;
    padding: 17px;
    width: 14rem;
    /* ---- */
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FF7F40;
}

.heading-two-h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF7F40;
}

.heading-three-h4 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.card-card-one {
    background: #F7F7F7;
    box-shadow: 0px 0px 19px rgb(0 0 0 / 15%);
    border-radius: 28px;
}

.card-img-one {
    width: 5rem;
    height: 5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 19px rgb(0 0 0 / 15%);
    border-radius: 15px;
    position: relative;
    bottom: 37px;
    margin-left: 28px;
}

.card-img-one img {
    margin-top: 22px;
    margin-left: 15px;
}

.card-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #000000;
    margin-left: 27px;
}

.card-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 180.5%;
    color: #000000;
    margin-left: 27px;
}

.btn-three {
    text-decoration: none;
    margin-left: 27px;
}

.margin-top {
    margin-top: 4rem;
}

.heading-three-h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF7F40;
}

.heading-four-h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #FFFFFF;
}

.card-card-two {
    background: white;
    border-radius: 9px;
}

.card-img-two {
    margin-left: 7px;
    margin-top: 5px;
}

.card-title-one {
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #5E5E67;
    margin-left: 1rem;
    margin-top: 2rem;
}

.card-text-one {
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-left: 1rem;
}

.heading-five-h4 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.btn-four {
    background: #FF5B2E;
    border-radius: 75px;
    width: 12rem;
    height: 4rem;
    margin-left: 2rem;
    font-family: Poppins;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.heading-six-h4 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.tech {
    background: #F7F7F7;
    border-radius: 18px;
    width: 13rem;
    height: 9rem;
}

.tech-next {
    margin-top: 1rem;
}

.tech-img {
    margin-top: 2rem;
    margin-left: 5rem;
}

.tag-name {
    font-family: Poppins;
    font-size: 14px;
    /* line-height: 12px; */
    color: #5E5A5A;
    margin-top: 12px;
    margin-left: 5rem;
}

.heading-six-h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF7F40;
}

.heading-seven-h4 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.paragraph-three {
    font-family: Poppins;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.card-img-three {
    background: #FFFFFF;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.card-img-three {
    margin-left: 7px;
    margin-top: 7px;
}

.card-card-two {
    background: #FFFFFF;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.dated {
    margin-left: 1rem;
}

.card-title-two {
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #52525D;
    margin-left: 1rem;
    margin-top: 10px;
}

.card-text-two {
    font-family: Poppins;
    font-size: 13px;
    line-height: 22px;
    color: #52525D;
    margin-left: 1rem;
}

.min-icon {
    margin-left: 2rem;
}

.position {
    position: relative;
    bottom: 7rem;
}

.calender {
    margin-bottom: 0px;
}

.footer-para {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #ADB7C5;
    margin-top: 1rem;
}

.footer-btn {
    background: #FF5B2E;
    border-radius: 75px;
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.heading-footer {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 181%;
    color: #ADB7C5;
}

.list-group {
    font-family: Poppins;
    font-size: 14px;
    line-height: 181%;
    color: #ADB7C5;
}

.footer-copyright {
    font-family: Poppins;
    font-size: 14px;
    /* line-height: 181%; */
    color: #ADB7C5;
}


/* ------------------------------------------*/

.heading-first-h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF7F40;
}

.icon-one {
    margin-left: 30px;
}

.heading-first-h4 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    margin-left: 16px;
}

.paragraph-first {
    font-family: Poppins;
    font-size: 16px;
    line-height: 23px;
    color: #60606A;
    margin-left: 30px;
}

.heading-second-h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF7F40;
    margin-left: 30px;
}

.heading-second-h4 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
    margin-left: 30px;
}

.heading-third-h6 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #30303C;
}

.paragraph-second {
    font-family: Poppins;
    font-size: 13px;
    line-height: 25px;
    color: #52525D;
}

.plus-point {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 130.5%;
    color: #30303C;
}

.plus-point-marks {
    font-family: Poppins;
    font-weight: 600;
    font-size: 44px;
    line-height: 130.5%;
    color: #FF7F40;
}

.point-two {
    margin-left: 5rem;
}

.point-three {
    margin-left: 5rem;
}

.point-four {
    margin-left: 5rem;
}

.heading-third-h4 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 36px;
    line-height: 23px;
    color: #000000;
}

.paragraph-third {
    font-family: Poppins;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.card-card-first {
    background: #F7F7F7;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
}

.card-img-first {
    width: 5rem;
    height: 4rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 19px rgb(0 0 0 / 15%);
    border-radius: 15px;
    position: relative;
    bottom: 2rem;
    margin-left: 2rem;
}

.card-img-first img {
    margin-left: 16px;
    margin-top: 9px;
}

.card-title-first {
    font-family: Poppins;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
    margin-left: 1rem;
}

.card-text-first {
    margin-left: 1rem;
    font-family: Poppins;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.top {
    margin-top: 4rem;
}

@media screen and (max-width:430px) {
    .menu-div {
        display: none;
    }
    .button-div {
        display: none;
    }
    .ham-div {
        display: block;
    }
    .header-one {
        font-size: 40px;
        line-height: 46px;
        margin-left: 7px;
    }
    .paragraph-one p {
        font-size: 12px;
        margin-left: 7px;
        line-height: 22px;
    }
    .header-text-div {
        margin-right: 0rem;
        margin-top: 20px;
    }
    .btn-one {
        margin-top: 1rem;
    }
    .header-right-image img {
        margin-top: 2rem;
    }
    .heading-one-h4 {
        line-height: 30px;
        font-size: 24px;
    }
    .heading-two-h4 {
        font-size: 13px;
        line-height: 23px;
    }
    .paragraph-two {
        font-size: 11px;
        line-height: 21px;
    }
    .heading-three-h4 {
        font-size: 23px;
        line-height: 35px;
    }
    .heading-four-h4 {
        font-size: 25px;
    }
    .card-card-two {
        margin-top: 3rem;
    }
    .heading-five-h4 {
        font-size: 19px;
    }
    .btn-four {
        margin-right: 35px;
    }
    .tech {
        margin-top: 10px;
    }
    .heading-six-h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .heading-seven-h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .paragraph-three {
        font-size: 11px;
        line-height: 18px;
    }
    .position {
        bottom: 0px;
    }
    .footer-copyright {
        font-size: 10px;
    }
    .icon-one {
        margin-left: 5px;
    }
    .heading-first-h4 {
        font-size: 29px;
        line-height: 37px;
        margin-left: 4px;
    }
    .paragraph-first {
        font-size: 12px;
        line-height: 20px;
        margin-left: 5px;
    }
    .heading-second-h6 {
        margin-left: 5px;
    }
    .heading-second-h4 {
        margin-left: 4px;
        font-size: 31px;
        line-height: 45px;
    }
    .heading-third-h6 {
        margin-top: -38px;
        font-size: 16px;
        line-height: 21px;
    }
    .paragraph-second {
        font-size: 11px;
        line-height: 17px;
    }
    .marge-left {
        margin-left: 22px;
    }
    .point-two {
        margin-left: 1rem;
    }
    .point-three {
        margin-left: 1rem;
    }
    .point-four {
        margin-left: 1rem;
    }
    .heading-third-h4 {
        font-size: 22px;
    }
    .paragraph-third {
        font-size: 10px;
        line-height: 20px;
    }
    .first-margin {
        margin-top: 4rem;
    }
    .card-text-first {
        font-size: 13px;
    }
    .marge-top {
        margin-top: 4rem;
    }
}