.container-fluid {
    font-family: Poppins;
}

.contain-blogs {
    padding: 2em 0px;
    background-color: #FBF1EF;
}

span {
    color: #FF7F40;
}

.our-blogs h1 {
    color: #FF7F40;
}

.inp-field input {
    padding: 10px;
    width: 550px;
    border: none;
    border-radius: 6px;
}

.blog-news h3 {
    font-size: 22px;
    font-weight: bold
}

.icon {
    background-color: #FF7F40;
    color: white;
    height: 39px;
    padding: 5px 20px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 6px;
}

@media screen and (max-width:350px) {
    .our-blogs h1 {
        color: #000000;
        font-size: 36px;
    }
    .blog-news h3 {
        font-size: 14px;
    }
}

.card-discription {
    padding: 28px 1em;
    font-family: Poppins;
}

.blogs .cards {
    max-width: 320px;
    margin: 3em 7px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}